.DS_Store
.thumbs.db
node_modules
/dist
/unpackage/dist
/unpackage/resources
npm-debug.log*
yarn-debug.log*
yarn-error.log*
unpackage
/unpackage

nativeplugins/SceneFramework

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.apk
unpackage/